*{
    box-sizing: border-box;
    margin: 0; padding: 0;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}
a{
    text-decoration: none;
    color: #e0e0e0;
}
.todo-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #131212;
    box-shadow: 1px 2px 10px;
    padding: 30px 0;
}
.todo-input{
    width: 50%;
    height: 35px;
}
.todo-input input{
    width: 100%;
    height: 100%;
    background: #070707;
    outline: 0;
    border: none;
    padding: 0 10px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}
input::placeholder{
    color: #e30cffa6;
}
.todo-list{
    height: 80%;
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* overflow-y: scroll; */

}
.todo-list li{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content:space-between;
    background: #0e0d0d;
    border-bottom: 2px solid #b000c7;
    cursor: pointer;
}
.todo-list li:hover{
    background: #181717;
}
.fa-trash{
    color: white;
}
.fa-trash:hover{
    color:#b000c7;
}
.hide{
    display: none;
}
.currentParagraph{
    color: #fff;
    margin: 20px 0;
}
.check{
    text-decoration:line-through;
    opacity: 50%;
}